* text=auto

*.cfg text eol=lf
*.gd text eol=lf
*.godot text eol=lf
*.import text eol=lf
*.json text eol=lf
*.md text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.uid text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.bmp binary
*.exe binary
*.ico binary
*.jpg binary
*.jpeg binary
*.mp3 binary
*.ogg binary
*.png binary
*.wav binary
*.webp binary
*.zip binary
